<footer class="bg-dark text-center text-white mt-0 display">

    <div class="d-flex text-center footer-fst">

    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Abonə olun</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" placeholder="Email address" />
                <label class="d-none form-label" for="form5Example2">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Göndər
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
    </div>
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.facebook.com/Taskilled"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.youtube.com/channel/UCpR0PKQcr96CUoYboBRNKKg"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-youtube"></i
        ></a>
  
        <!-- Google -->
        <!-- <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a> -->
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/taskilled_com/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <!-- <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a> -->
        <!-- Github -->
        <!-- <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a> -->
      </section>
      <!-- Section: Social media -->
    </div>
    
  </div>

<div class="row m-0">
<div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2 ">
  <h6 class="">Məktəblilər</h6>

  <ul class="list-unstyled mb-5">
    <li>
      <a href="{% url 'core:student-profile' %}" class="text-white">Hesabım</a>
    </li>
  </ul>
  </ul>
</div>
<div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2 footer-scd "  style="text-align: start">
  <h6 class="">Haqqımızda</h6>

  <ul class="list-unstyled mb-5">
    <li>
      <a href="{% url 'core:student-profile' %}" class="text-white">Proqramlar</a>
    </li>
    <li>
      <a href="{% url 'core:student-profile' %}" class="text-white">Bizimlə əlaqə</a>
    </li>
  </ul>
</div>

<div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2" style="text-align: start;">


  <ul class="list-unstyled mb-5" style="text-align: start;">
    <li class="mb-2 footer-thr">
      <a href="" class="text-white">Dərs yaratmaq</a>
    </li>
  </ul>
</div>
</div>
    <!-- Grid container -->
  
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="http://taskilled.com/">Taskilled</a>
    </div>
    <!-- Copyright -->
  </footer>