*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: rgb(228, 220, 220) !important;    */
}

.sidebar-items {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 10px;
}